*
{
    margin: 0px;
    padding: 0px;
    
}
.heading
{
    min-height: 100vh;
    width: 100%;
    background-image:url(head.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
   width: 150px;
   
}
.nav-bar
{
    flex: 1;
    text-align: right;
}
.font
{
    height: 25px;
    width: 25px;
}
.menu
{
    height: 35px;
    width: 35px;
}

.nav-bar ul li
{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-bar ul li a
{
    color:rgb(10, 21, 24) ;
    text-decoration: none;
    
    font-size: 20px;
}
.nav-bar ul li ::after
{
    content: '';
    width:0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav-bar ul li a:hover::after
{
    width: 100%;

}
.content
{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.content h1{
    font-size: 62px;
}
.content p{
    margin:10px 0px 48px ;
    font-size: 22px;
    color: black;

}
.btn
{
    display: inline-block;
    text-decoration:none;
    color: black;
    border: 1px solid black;
    padding: 13px 34px ;
    font-size:20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 3px solid rgb(24, 22, 22);
    transform: 0.5ss;
    background: rgb(13, 218, 218);
    color: blanchedalmond;
    
}
  
nav .font
{
    display: none;
}
nav .menu
{
    display: none;
}
@media(max-width:700px)
{
.content h1 
    {
        font-size: 20px;
    }
.nav-bar ul li
   {
    display: block;
    }
.nav-bar
    {
    position: absolute;
    background-color: rgb(9, 156, 149);
    height: 100vh;
    width: 288px;
    top: 0px;
    left: -300px;
    text-align: left;
    z-index: 2;
    transition: 1s;

     }
     nav .font
{
    display: block;
    color: black;
    cursor: pointer;
    padding: 15px;
}
nav .menu
{
    display: block;
    color: black;
    cursor: pointer;
}
.nav-bar ul 
{
 padding: 22px 0px;
 margin: 25px;

}
}

/*----------------------------------services--------------------*/
.ser-v
{
    width: 100%;
    margin: auto;
    padding: 50px;
    font-size: 25px;
    text-align: center;
    background-image: url(mid.jpg);
    color: beige;
    margin-top: 50px;
    
}
.row{
    display: flex;
    margin: 5%;
    justify-content: space-between;
    
    
    
}
.row1
{
    background: aqua;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-shadow: 5px 5px 5px  5px rgb(5, 1, 1);
    margin-right: 50px;
    


}
.row1:hover{
    background: rgb(15, 15, 15);
    color: blanchedalmond;
}
.row2
{
    background: aqua;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-shadow: 5px 5px 5px  5px rgb(5, 1, 1);
    margin-right: 50px;

}
.row2:hover{
    background: rgb(15, 15, 15);
    color: blanchedalmond;
}

.row3
{
    background:aqua;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-shadow: 5px 5px 5px  5px rgb(5, 1, 1);
    margin-right: 50px;

}
.row3:hover{
    background: rgb(15, 15, 15);
    color: blanchedalmond;
}
h3
{
    text-align: center;
    font-size: 25px;
 text-transform: uppercase;
 margin-bottom: 10px;
 padding: 15px;
}
.row1 a button
{
    color: blue;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px sloid rgb(27, 26, 26);
}
.row2 a button
{
    color: blue;
    padding: 10px 25px;
    border-radius: 25px;
}
.row3 a button
{
    color: blue;
    padding: 10px 25px;
    border-radius: 25px;
}
@media (max-width:700px)
{
    .ser-v{
        width: 80%;
    }
    .row{
        display: block;
        margin-right: 10px;
        
    }
    .row1{
        width: 90%;
        
    }
    .row2{
        width: 90%;
    }
    .row3{
        width: 90%;
    }
}

/*------------------------------------our facilites---------------------*/
.fac
{
    width: 100%;
    margin: auto;
    padding: 50px;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: -100px;
    background-image: url(mid.jpg);
    color: beige;
    

}
h1
{
    text-transform: uppercase;
}

.face
{
    display: flex;
    margin: 5%;
    justify-content: space-between;    /*-------space between text------*/
    column-gap: 25px;
   margin-left: -20px;
    
    
    
}
.face1
{
    border: 2px solid black;
    background: aqua;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px;
    padding: 20px 12px;
    
}
.face2
{
    border: 2px solid black;
    background: aqua;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px;
    padding: 20px 12px;
    
}
.face3
{
    border: 2px solid black;
    background: aqua;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px;
    padding: 20px 12px;
    
}
.face1:hover{
    background: rgb(15, 15, 15);
    color: blanchedalmond;
}
.face2:hover{
    background: rgb(15, 15, 15);
    color: blanchedalmond;
}
.face3:hover{
    background: rgb(15, 15, 15);
    color: blanchedalmond;
}
.face1 a button
{
    color: blue;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px sloid rgb(27, 26, 26);
}
.face2 a button
{
    color: blue;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px sloid rgb(27, 26, 26);
}
.face3 a button
{
    color: blue;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px sloid rgb(27, 26, 26);
}
 
 @media (max-width:700px)
 {
     .fac{

        margin-top: 25px;
        width: 80%;
     }
     .face{
         display: block;
         row-gap: 15px;
        
     }
     .face1{
         margin-top: 25px;
     }
     .face2{
         margin-top: 25px;
         
     }
     .face3{
         margin-top:25px ;
     }
 }

 
 .footer
 {
     width: 100%;
     margin: auto;
     height: 150px;
     background:url(mid.jpg);
     text-align: center;
     font-size: 25px;
     color: beige;
     padding: 15px;
     backgrou
     
 }
 
